<h1><%= title %></h1>
<ul>
  <% if (locals.categories && categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <li><%= category.name %></li>
    <% }); %>
  <% } else { %>
    <li>No hay categorías disponibles.</li>
  <% } %>
</ul>
